body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("https://lh3.googleusercontent.com/proxy/2kGbQWprIzbrf1Qqr8u_9z5TKBTiLOy4hWUqw-e1VYaqTWg9iizT7RzTzxm_LkrnfPnKXbSKU1i-4lEbNH_1a4od5xKNV9cI7u823imwoBd08Fc7sJF_ueAZM0hjbcddwchPlsmY143j1F1SZErNmqCvdgddoKJXZAL75w");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}